---
layout: rest-api
title: 'Template name'
tags: rest-api
---
<div class="summary">

			 	
				Resource for template name.

				The template names involves	the content to manage:
				<ul>
					<li> <b>email-verified.body</b> : Template for	the content	body of email verified</li>
					<li> <b>email-verified.subject</b> : Template for the subject of email verified</li>
					<li> <b>email-verification-needed.body</b> : Template for the content body of a verification email required</li>
					<li> <b>email-verification-needed.subject</b> : Template for the subject of a verification email required </li>
					<li> <b>password-reset-request.body</b> : Template for the content body of a password reset request</li>
					<li> <b>password-reset-request.subject</b> : Template for the subject of a password reset request</li>
					<li> <b>password-reset-completed.body</b> : Template for the content body of a completed operation of password reset</li>
					<li> <b>password-reset-completed.subject</b> : Template for the subject of	a completed operation of password reset</li>
				</ul>
				
			
</div>
<div class="description">
<section class="resource"><article class="resource" id=""><div class="path"><strong>Location</strong><span>/apps/{appID}/templates/{templateName}</span></div><div class="method-links"><ul></ul></div><div class="methods"></div></article></section>
</div>
