<footer>
<div class="wrapper">
  <div class="logo">
    <a href="http://www.kii.com">Kii</a>
  </div>
  <div class="connect">
    <ul>
      <li class="fb">
      <a href="http://www.facebook.com/kiicorp">Facebook</a>
      </li>
      <li class="t">
      <a href="https://twitter.com/KiiJapan">Twitter</a>
      </li>
      <li class="in">
      <a href="http://www.linkedin.com/company/1406171">Linked In</a>
      </li>
    </ul>
    <div class="email">
      <form accept-charset="UTF-8" action="https://developer.kii.com/jp/subscribers" method="post">
        <div style="margin:0;padding:0;display:inline">
          <input name="utf8" type="hidden" value="&#x2713;" />
          <input name="authenticity_token" type="hidden" value="0sdlpcd7kpi2rm+Po6k9qqlnzQkvdZGcRVp7gtkyCqU=" />
        </div>
        <input name="email" placeholder="Your Email" type="text" />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="copyright">&copy; 2010 - 2012 Kii, All Rights Reserved<span class="legal">
      <a href="https://developer.kii.com/jp/terms">利用規約</a>
      <a href="https://developer.kii.com/jp/privacy">個人情報保護方針</a>
    </span>
  </div>
</div>
</footer>
