---
# vim: set ts=8 sts=2 sw=2 tw=0 et:
---
body#preview section.content .description h4 {
  margin: 10px 0;
  font-style: italic;
  font-size: 15px;
  line-height: 22px;
}

body#preview section.content .description div.highlight {
  margin: 10px 0;
  overflow-x: auto;
  border-radius: 5px;
}

body#preview section.content .description div.highlight > pre {
  display: inline-block;
  padding: 15px;
}

body#preview section.content .description div.highlight > pre > code {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  font-family: Consolas, Inconsolata, Monaco, 'Courier New';
  font-size: 16px;
  line-height: 19px;
}

div.kiidoc-disqus {
  margin: 20px 0 0 0;
  border-top: 1px solid #ddd;
  padding: 20px 30px 10px 30px;
}

div#google-search {
  float: right;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 350px;
}
div.gsc-control-cse {
  border: 0;
  padding: 0;
}

.content p > code {
  display: inline;
  margin: 0 2px;
  padding: 2px 4px;
  border: 1px solid #9bcaec;
  border-radius: 4px;
  background: #ebf5fb;
  color: #3696da;
  font-size: 90%;
}

.content p.note {
  padding: 5px;
  background: #ffff80;
  border-radius: 5px;
}
