/*TODO*/ .highlight pre code .hll { background-color: #ffffcc }
.highlight pre code .c { color: #909aa0; } /* Comment */
/*DISABLED .highlight pre code .err { border: 1px solid #FF0000 } Error*/
.highlight pre code .k { color: #a3ccf7; } /* Keyword */
.highlight pre code .o { color: #b1edec; } /* Operator */
.highlight pre code .cm { color: #909aa0; } /* Comment.Multiline */
.highlight pre code .cp { font-style: italic; color: #6edddc; } /* Comment.Preproc */
.highlight pre code .c1 { color: #909aa0; } /* Comment.Single */
.highlight pre code .cs { color: #909aa0; } /* Comment.Special */
/*TODO*/ .highlight pre code .gd { color: #A00000 } /* Generic.Deleted */
/*TODO*/ .highlight pre code .ge { font-style: italic } /* Generic.Emph */
/*TODO*/ .highlight pre code .gr { color: #FF0000 } /* Generic.Error */
/*TODO*/ .highlight pre code .gh { color: #000080; font-weight: bold } /* Generic.Heading */
/*TODO*/ .highlight pre code .gi { color: #00A000 } /* Generic.Inserted */
/*TODO*/ .highlight pre code .go { color: #888888 } /* Generic.Output */
/*TODO*/ .highlight pre code .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
/*TODO*/ .highlight pre code .gs { font-weight: bold } /* Generic.Strong */
/*TODO*/ .highlight pre code .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
/*TODO*/ .highlight pre code .gt { color: #0044DD } /* Generic.Traceback */
.highlight pre code .kc { color: #a3ccf7; font-weight: bold } /* Keyword.Constant */
.highlight pre code .kd { color: #a3ccf7; font-weight: bold } /* Keyword.Declaration */
.highlight pre code .kn { color: #a3ccf7; font-weight: bold } /* Keyword.Namespace */
.highlight pre code .kp { color: #a3ccf7 } /* Keyword.Pseudo */
.highlight pre code .kr { color: #a3ccf7; font-weight: bold } /* Keyword.Reserved */
.highlight pre code .kt { color: #a3ccf7; } /* Keyword.Type */
/*TODO*/ .highlight pre code .m { color: #666666 } /* Literal.Number */
.highlight pre code .s { color: #55eb54; } /* Literal.String */
.highlight pre code .na { color: #e0e0e0 } /* Name.Attribute */
.highlight pre code .nb { color: #e0e0e0; } /* Name.Builtin */
.highlight pre code .nc { color: #ffb566; font-weight: bold } /* Name.Class */
/*TODO*/ .highlight pre code .no { color: #880000 } /* Name.Constant */
/*TODO*/ .highlight pre code .nd { color: #AA22FF } /* Name.Decorator */
/*TODO*/ .highlight pre code .ni { color: #999999; font-weight: bold } /* Name.Entity */
/*TODO*/ .highlight pre code .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight pre code .nf { color: #e0e0e0; } /* Name.Function */
.highlight pre code .nl { color: #c8bbf1; } /* Name.Label */
.highlight pre code .nn { color: #e0e0e0; font-weight: bold } /* Name.Namespace */
.highlight pre code .nt { color: #e0e0e0; font-weight: bold } /* Name.Tag */
.highlight pre code .nv { color: #ffb566; } /* Name.Variable */
/*TODO*/ .highlight pre code .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
/*TODO*/ .highlight pre code .w { color: #bbbbbb } /* Text.Whitespace */
/*TODO*/ .highlight pre code .mf { color: #666666 } /* Literal.Number.Float */
/*TODO*/ .highlight pre code .mh { color: #666666 } /* Literal.Number.Hex */
/*TODO*/ .highlight pre code .mi { color: #666666 } /* Literal.Number.Integer */
/*TODO*/ .highlight pre code .mo { color: #666666 } /* Literal.Number.Oct */
/*TODO*/ .highlight pre code .sb { color: #55eb54 } /* Literal.String.Backtick */
/*TODO*/ .highlight pre code .sc { color: #55eb54 } /* Literal.String.Char */
/*TODO*/ .highlight pre code .sd { color: #55eb54; font-style: italic } /* Literal.String.Doc */
.highlight pre code .s2 { color: #55eb54 } /* Literal.String.Double */
/*TODO*/ .highlight pre code .se { color: #55eb54; font-weight: bold } /* Literal.String.Escape */
/*TODO*/ .highlight pre code .sh { color: #55eb54 } /* Literal.String.Heredoc */
/*TODO*/ .highlight pre code .si { color: #55eb54; font-weight: bold } /* Literal.String.Interpol */
/*TODO*/ .highlight pre code .sx { color: #55eb54 } /* Literal.String.Other */
/*TODO*/ .highlight pre code .sr { color: #55eb54 } /* Literal.String.Regex */
/*TODO*/ .highlight pre code .s1 { color: #55eb54 } /* Literal.String.Single */
/*TODO*/ .highlight pre code .ss { color: #55eb54 } /* Literal.String.Symbol */
/*TODO*/ .highlight pre code .bp { color: #a3ccf7 } /* Name.Builtin.Pseudo */
/*TODO*/ .highlight pre code .vc { color: #19177C } /* Name.Variable.Class */
/*TODO*/ .highlight pre code .vg { color: #19177C } /* Name.Variable.Global */
/*TODO*/ .highlight pre code .vi { color: #19177C } /* Name.Variable.Instance */
/*TODO*/ .highlight pre code .il { color: #666666 } /* Literal.Number.Integer.Long */

.highlight pre code .p { color: #b1edec; } /* punctuation */
.highlight pre code .n { color: #ffb566; } /* name */

/*.highlight pre { background-color: #646e75; }*/
div.highlight { background-color: #646e75; }
