---
# vim:set ts=2 sts=2 sw=2 et:
layout: default
---
<div class="content-container">
<div class="wrapper">

<section class="content">
<div class="wrapper">

<div class="breadcrumbs">
{% kiidoc_parents %}
<span>{{ page.title }}</span>
</div>

<h1>{{ page.title }}</h1>
<div class="summary">{% if page.summary %}<p>{{ page.summary }}</p>{% endif %}</div>

<div class="description">
{{ content }}</div>

</div>

{% include disqus.html %}

</section>

<aside class="sidebar"><nav>
{% kiidoc_treenav en %}
</nav></aside>

</div>
</div>
