---
# vim:set ts=2 sts=2 sw=2 et:
layout: default
---
<header>
<div class="logo">
  <a href="{% page_url top-en %}">Kii Developer</a>
</div>
<div id="google-search">{% include google-search.html %}</div>
<nav class="main">
<ul>
  <li class="apps"><a href="http://developer.kii.com/#apps">Apps</a></li>
  <li class="sdk"><a href="http://developer.kii.com/#sdks">SDK</a></li>
  <li class="doc selected"><a href="{% page_url top-en %}">Documentation</a></li>
</ul>
</nav>
<nav class="doc">
<ul>
  <li class="app"><a href="{% page_url quickstart-en %}">Getting Started</a></li>
  <li class="app"><a href="{% page_url guides-en %}">Guides</a></li>
  <li class="app"><a href="{% page_url references-en %}">References</a></li>
  <li class="app"><a href="{% page_url samples-en %}">Snippets and Samples</a></li>{% unless page.no-translate %}
  <ul class="languages">
    <li class="en selected"><a href="{{ page.url }}">English</a></li>
    <li class="ja"><a href="{% if page.url contains '/en/' %}{{ page.url | replace: '/en/', '/ja/' }}{% else %}{% page_url top-ja %}{% endif %}">日本語</a></li>
  </ul>{% endunless %}
</ul>
</nav>
</header>

<div id="content"><div class="wrapper">
{{ content }}</div></div>
