---
# vim:set ts=2 sts=2 sw=2 et:
layout: ja
---
<div class="content-container">
<div class="wrapper">

<section class="content">
<div class="wrapper">

<div class="breadcrumbs">
{% for p in site.pages reversed %}{% if page.url contains p.url %}{% if p.url != page.url %}{% if p.url != '/' %}<a href="{{ p.url }}">{{ p.title }}</a><span> &gt; </span>
{% endif %}{% endif %}{% endif %}{% endfor %}<span>{{ page.title }}</span>
</div>

<h1>{{ page.title }}</h1>
<div class="summary">{% if page.summary %}<p>{{ page.summary | escape }}</p>{% endif %}</div>

<div class="description">
{{ content }}</div>

</div>
</section>

<aside class="sidebar"><nav><ul>
{% for p in site.pages reversed %}{% if p.url contains 'ja' %}{% if p.title %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}{% endif %}{% endfor %}
</ul></nav></aside>

</div>
</div>
