---
# vim:set ts=2 sts=2 sw=2 et:
# derived from: rest-api
layout: en
no-translate: true
---
<div class="content-container">
<div class="wrapper">

<section{% if page.page-section-id %} id="{{ page.page-section-id }}"{% endif %} class="content">
<div class="wrapper">

<div class="breadcrumbs">
{% kiidoc_parents %}
<span>{{ page.title }}</span>
</div>

<h1>{{ page.title }}</h1>

<div class="summary"></div>

<div class="description">
{{ content }}
</div>

</div>

{% include disqus.html %}

</section>

<aside class="sidebar"><nav>
{% include rest/overview-navi.html %}
</nav></aside>

</div>
</div>
