---
# vim:set ts=2 sts=2 sw=2 et:
# derived from: rest-api
layout: en
no-translate: true
---
<div class="content-container">
<div class="wrapper">

<section{% if page.page-section-id %} id="{{ page.page-section-id }}"{% endif %} class="content">
<div class="wrapper">

<div class="breadcrumbs">
{% kiidoc_parents %}
<span>{{ page.title }}</span>
</div>

<h1>{{ page.title }}</h1>

<div class="summary"></div>

<div class="description">
{{ content }}
</div>

</div>

{% include disqus.html %}

</section>

<aside class="sidebar"><nav>
<ul class="subpage">
<li><div><a href="#user_management">User Management</a></div>

  <ul class="subpage">
  <li><div><a href="#user_management-create_a_new_user">Create a new user</a></div></li>
  <li><div><a href="#user_management-delete_the_user">Delete the user</a></div></li>
  <li><div><a href="#user_management-user_data">User Data</a></div>

    <ul class="subpage">
    <li><div><a href="#user_management-user_data-retrieve_the_user_s_data">Retrieve the user&#39;s data</a></div></li>
    <li><div><a href="#user_management-user_data-modify_the_user_s_data">Modify the user&#39;s data</a></div></li>
    <li><div><a href="#user_management-user_data-get_the_country">Get the country</a></div></li>
    <li><div><a href="#user_management-user_data-get_the_display_name">Get the display name</a></div></li>
    <li><div><a href="#user_management-user_data-get_the_locale">Get the locale</a></div></li>
    <li><div><a href="#user_management-user_data-email_address">Email address</a></div>

      <ul class="subpage">
      <li><div><a href="#user_management-user_data-email_address-get_the_email_address">Get the email address</a></div></li>
      <li><div><a href="#user_management-user_data-email_address-update_the_email_address">Update the email address</a></div></li>
      <li><div><a href="#user_management-user_data-email_address-remove_the_email_address">Remove the email address</a></div></li>
      </ul>
    </li>
    <li><div><a href="#user_management-user_data-phone_number">Phone number</a></div>

      <ul class="subpage">
      <li><div><a href="#user_management-user_data-phone_number-get_the_phone_number">Get the phone number</a></div></li>
      <li><div><a href="#user_management-user_data-phone_number-update_the_phone_number">Update the phone number</a></div></li>
      <li><div><a href="#user_management-user_data-phone_number-remove_the_phone_number">Remove the phone number</a></div></li>
      </ul>
    </li>
    </ul>
  </li>
  <li><div><a href="#user_management-user_verification">User Verification</a></div>

    <ul class="subpage">
    <li><div><a href="#user_management-user_verification-email_address_verification">Email Address Verification</a></div>

      <ul class="subpage">
      <li><div><a href="#user_management-user_verification-email_address_verification-resend_the_verification_email">Resend the verification email</a></div></li>
      <li><div><a href="#user_management-user_verification-email_address_verification-get_the_verificaiton_code">Get the verificaiton code</a></div></li>
      <li><div><a href="#user_management-user_verification-email_address_verification-vefity_the_email_address">Vefity the email address</a></div></li>
      </ul>
    </li>
    <li><div><a href="#user_management-user_verification-phone_number_verification">Phone Number Verification</a></div>

      <ul class="subpage">
      <li><div><a href="#user_management-user_verification-phone_number_verification-resend_the_sms_with_the_verification_code">Resend the SMS with the verification code</a></div></li>
      <li><div><a href="#user_management-user_verification-phone_number_verification-reset_the_verification_code">Reset the verification code</a></div></li>
      <li><div><a href="#user_management-user_verification-phone_number_verification-get_the_verification_code">Get the verification code</a></div></li>
      <li><div><a href="#user_management-user_verification-phone_number_verification-verify_the_phone_number">Verify the phone number</a></div></li>
      </ul>
    </li>
    </ul>
  </li>
  <li><div><a href="#user_management-oauth2">OAuth2</a></div>

    <ul class="subpage">
    <li><div><a href="#user_management-oauth2-request_a_new_token">Request a new token</a></div></li>
    </ul>
  </li>
  <li><div><a href="#user_management-password">Password</a></div>

    <ul class="subpage">
    <li><div><a href="#user_management-password-change_the_password">Change the password</a></div></li>
    <li><div><a href="#user_management-password-send_an_email_for_resetting_the_password">Send an email for resetting the password</a></div></li>
    </ul>
  </li>
  <li><div><a href="#user_management-change_the_status_of_the_user">Change the status of the user</a></div></li>
  <li><div><a href="#user_management-social_integration">Social Integration</a></div>

    <ul class="subpage">
    <li><div><a href="#user_management-social_integration-request_a_new_token">Request a new token</a></div></li>
    <li><div><a href="#user_management-social_integration-link_with_facebook_account">Link with Facebook account</a></div></li>
    <li><div><a href="#user_management-social_integration-unlink_from_facebook_account">Unlink from Facebook account</a></div></li>
    </ul>
  </li>
  </ul>
</li>
<li><div><a href="#group_management">Group Management</a></div>

  <ul class="subpage">
  <li><div><a href="#group_management-create">Create</a></div></li>
  <li><div><a href="#group_management-get_the_data_of_the_group">Get the data of the group</a></div></li>
  <li><div><a href="#group_management-delete">Delete</a></div></li>
  <li><div><a href="#group_management-get_a_list_of_groups_filtered_by_membership_or_ownership">Get a list of groups filtered by membership or ownership</a></div></li>
  <li><div><a href="#group_management-update_the_group_name">Update the group name</a></div></li>
  <li><div><a href="#group_management-update_the_group_owner">Update the group owner</a></div></li>
  <li><div><a href="#group_management-group_members">Group members</a></div></li>
  <li><div><a href="#group_management-acl">ACL</a></div>

    <ul class="subpage">
    <li><div><a href="#group_management-acl-retrieve">Retrieve</a></div></li>
    <li><div><a href="#group_management-acl-verify">Verify</a></div></li>
    <li><div><a href="#group_management-acl-grant">Grant</a></div></li>
    <li><div><a href="#group_management-acl-revoke">Revoke</a></div></li>
    </ul>
  </li>
  </ul>
</li>
<li><div><a href="#data_management">Data Management</a></div>

  <ul class="subpage">
  <li><div><a href="#data_management-bucket">Bucket</a></div></li>
  <li><div><a href="#data_management-file_bucket">File Bucket</a></div></li>
  <li><div><a href="#data_management-object_storage">Object Storage</a></div></li>
  <li><div><a href="#data_management-file_storage">File Storage</a></div></li>
  </ul>
</li>
<li><div><a href="#analytics">Analytics</a></div></li>
</ul>
</nav></aside>

</div>
</div>
